<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #D5EDF6;
            text-align: center;
            margin: auto;
            width: 50%;
            border: 3px solid rgb(10, 109, 222);
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Contact Us</h1>
    <h2>This is Our Contact Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita repellat qui ex earum rerum aperiam hic ullam distinctio officia quidem voluptates omnis quae, illo error magni quis repudiandae vitae culpa.</p>
</body>
</html>