* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c4c4c4;
}

main {
    background-color: #47575a;
    margin: 30px 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

navbar h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    padding-left: 80px;
    padding-top: 30px;
    font-size: 2em;
}

.topRight img {
    width: 210px;
    border-radius: 200px;
    /* box-shadow: -18px -18px 2px rgb(205, 232, 255); */
    box-shadow: -18px -18px 2px white;
}

#intro {

    font-size: 2em;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#intro span{
    color: #6698e2;
}

#secondParagraph {
    color: white;
}

.icons {
    color: white;
}

.bottomLeft {
    font-size: 2em;
}

.bottomLeft h2 {
    color: rgb(11, 10, 10);
}

.bottomLeft li {
    list-style-type: none;
    text-decoration: none;
    color: white;
}


.bottomRight h2 {
    color: white;
}
