* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c4c4c4;
}

main {
    background-color: #47575a;
    margin: 30px 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

navbar h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    padding-left: 80px;
    padding-top: 30px;
    font-size: 2em;
}

.sectionTop {
    margin: 80px;
    display: flex;
    justify-content: center;
}

.sectionTop .topLeft {
    width: 55%;
}

.sectionTop .topRight {
    width: 45%;
    border-radius: 1000px;
}

.sectionTop .topRight img {
    width: 300px;
    border-radius: 200px;
    /* box-shadow: -18px -18px 2px rgb(205, 232, 255); */
    box-shadow: -18px -18px 2px white;
}

#intro {
    padding-left: 100px;
    padding-top: 100px;
    font-size: 2em;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#intro span{
    color: #6698e2;
}

#secondParagraph {
    padding-left: 100px;
    padding-top: 20px;
    color: white;
}

.icons {
    padding-left: 100px;
    padding-top: 20px;
    color: white;
}

.sectionBottom {
    margin: 80px;
    display: flex;
    justify-content: center;
}

.bottomLeft, .bottomRight {
    width: 50%;
}



.bottomLeft {
    font-size: 2em;
    text-align: center;
    /* transform: translateX(100px); */
    padding: 40px;
}

.bottomLeft h2 {
    color: rgb(11, 10, 10);
}

.bottomLeft li {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.bottomRight {
    padding: 40px;
}

.bottomRight h2 {
    text-align: center;
    color: white;
}



@media only screen and (max-width: 800px) {
    .sectionTop {
        display: block;
    }
    .topLeft, .topRight, .bottomLeft, .bottomRight {
        width: 100%;
    }

    .sectionTop .topRight img {
        width: 150px;
        border-radius: 200px;
    /* box-shadow: -18px -18px 2px rgb(205, 232, 255); */
        box-shadow: none;
        padding: 40px;
    }
}